@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@using System.Data
@{ ViewData["Title"] = @localizer["ForgotPassword"];
}
<div class="row">
    <div class="col-3">

    </div>
    <div class="col-6">
        @if (ViewBag.AfterEmailSendMessage != null)
        {
<h6>@localizer[ViewBag.AfterEmailSendMessage].Value.ToString().Replace("[[Email]]",ViewBag.Email)</h6>
}
else
{
<h2>@localizer["ForgotPassword"]</h2>
                @if (ViewBag.Error != null)
                {
<p class="text-danger">@localizer[ViewBag.Error]</p>}

                                <form method="post">
                                    <div class="input-group mb-3  rounded-pill bg-white shadow-sm">
                                        <input type="Email" required placeholder="@localizer["Email"]" name="Email" class="form-control border-0 rounded-pill bg-white shadow-sm">
                                    </div>
                                    <br />
                                    <div style="text-align:right">
                                        <button type="submit" class="btn btn-dark">@localizer["Submit"]</button>
                                    </div>
                                </form>}
    </div>
</div>

